header {
background-color: lightpurple;
padding: 0%;
margin: auto;

}
 heading {
  background-color: darkgray;
  opacity: 50%;
  
}
body {
background-color: lightgray;
}
footer {

}
ul {
  width: 50px
  margin:0;
  padding:0;
  

}
img{
  max-width: 400px;
  margin: auto;
  border: solid 2px violet;
  border-radius: 50%;
  background-position: center;
}
li {
  display: inline;
  padding: 20px;
  margin: 100px;
 

}
a:hover {
  color: lightgray;
  border: 1px solid;
  border-style: hidden ;
  background-color: aliceblue;
}
h1 , p {
  text-align: center;
}